<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ProfilePlaza</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./static/index.css">
    </head>
    <body>
        <div class="main_container">
            <div class="main_header">
                <a class="main_logo" href="/">ProfilePlaza</a>
            </div>
            <div class="main_body">
                <div class="main_banner">
                    *Banner goes here*
                </div>
                <div class="main_title">
                    Welcome!
                </div>
                <div class="user_container">
                    <div class="user_title">
                            Login or sign up
                    </div>
                    <div class="user_login" id="user_login_email">
                        <div class="user_loginin_email_caption">
                            Email: 
                        </div>
                        <input class="login_input" id="login_input_email" name="email" placeholder="email"/>
                    </div>
                    <div class="user_login" id="user_login_password">
                        <div class="user_loginin_password_caption">
                            Password:   
                        </div>
                        <input class="login_input" id="login_input_password" name="password" placeholder="password"/>
                    </div>
                    <div>
                        <button class="user_login_button">Login</button>
                        <button class="user_signup_button">Sign up</button>
                    </div>
                </div>  

            </div>


        </div>
        
        <script src="" async defer></script>
    </body>
</html>