<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ProfilePlaza</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./static/login.css">
    </head>
    <body>
        <div class="main_container">
            <div class="main_header">
                <a class="main_logo" href="/">
                    <img class="profile_plaza_logo" src="./static/profileplazalogo.svg">
                </a>
            </div>
            <div class="main_body">
                <div class="main_banner">
                    <img class="profile_plaza_logo_full" src="./static/profileplazalogofull.svg">
                </div>
                <div class="main_title">
                    Create your own easily-sharable personal profile!
                </div>
                <div class="user_container">
                    <div class="user_title">
                            Login
                    </div>
                    <div class="err_msg">{{err}}</div>
                    <form class="login_form" action="/login" method="POST">
                        <div class="user_login" id="user_login_email">
                            <label class="user_login_email_caption">
                                Email: 
                            </label>
                            <input class="login_input" id="login_input_email" name="email" placeholder="email"/>
                        </div>
                        <div class="user_login" id="user_login_password">
                            <label class="user_login_password_caption">
                                Password:
                            </label>
                            <input class="login_input" id="login_input_password" name="password" placeholder="password"/>
                        </div>
                        <div class="login-signup-button-container">
                            <button class="user_login_button" type="submit">Login</button>
                            <a class="user_signup_button" href="/signup">Sign up</a>
                        </div>
                    </form>
                </div>  

            </div>


        </div>
        
        
    </body>
</html>